{% extends 'main/base.html' %} {% load static %} {% block content %}

<!-- Navbar Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <a href="{% url 'index' %}" class="navbar-brand p-0">
            <h1 class="m-0">
                <span class="logo"
                    ><img
                        src="{% static 'img/logo2.svg' %}"
                        alt=""
                        width="50px"
                        style="color: #fff !important" /></span
                ><span class="name">Kelstech Systems</span>
            </h1>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
        >
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'service' %}" class="nav-item nav-link"
                    >Services</a
                >
                <a href="{% url 'blog' %}" class="nav-item nav-link active"
                    >Blog</a
                >
                <a href="{% url 'contact' %}" class="nav-item nav-link"
                    >Contact</a
                >
            </div>
            <a
                href="#"
                class="btn btn-primary py-2 px-4 ms-3"
                data-bs-toggle="modal"
                data-bs-target="#searchModal"
                >Book Appointment</a
            >
        </div>
    </nav>

    <div
        class="container-fluid bg-primary py-5 bg-header"
        style="margin-bottom: 90px"
    >
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">
                    {{ blog.subTitle }}
                </h1>
                <a href="" class="h5 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h5 text-white">Blog Detail</a>
            </div>
        </div>
    </div>
</div>
<!-- Navbar End -->

<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <img
                        class="img-fluid w-100 rounded mb-5"
                        src="{{ blog.image.url }}"
                        alt=""
                    />
                    <h1 class="mb-4">{{ blog.subTitle }}</h1>
                    <p>{{ blog.content }}</p>
                </div>
                <!-- Blog Detail End -->
            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Search Form Start -->

                <!-- Category Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div
                        class="section-title section-title-sm position-relative pb-3 mb-4"
                    >
                        <h3 class="mb-0">Categories</h3>
                    </div>
                    <div
                        class="link-animated d-flex flex-column justify-content-start"
                    >
                        <a
                            class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2"
                            href="#"
                            ><i class="bi bi-arrow-right me-2"></i>Web Design</a
                        >
                        <a
                            class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2"
                            href="#"
                            ><i class="bi bi-arrow-right me-2"></i>Web
                            Development</a
                        >
                        <a
                            class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2"
                            href="#"
                            ><i class="bi bi-arrow-right me-2"></i>Web
                            Development</a
                        >
                        <a
                            class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2"
                            href="#"
                            ><i class="bi bi-arrow-right me-2"></i>Keyword
                            Research</a
                        >
                        <a
                            class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2"
                            href="#"
                            ><i class="bi bi-arrow-right me-2"></i>Email
                            Marketing</a
                        >
                    </div>
                </div>
                <!-- Category End -->

                <!-- Recent Post Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div
                        class="section-title section-title-sm position-relative pb-3 mb-4"
                    >
                        <h3 class="mb-0">Recent Post</h3>
                    </div>
                    {% for blog in blogs %} {% if forloop.counter < 5 %}
                    <div class="d-flex rounded overflow-hidden mb-3">
                        <img
                            class="img-fluid"
                            src="{{ blog.image.url }}"
                            style="
                                width: 100px;
                                height: 100px;
                                object-fit: cover;
                            "
                            alt=""
                        />
                        <a
                            href=""
                            class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0"
                            >{{ blog.content | slice:"0:50" }}
                        </a>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <!-- Recent Post End -->

                <!-- Image Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <img
                        src="img/blog-1.jpg"
                        alt=""
                        class="img-fluid rounded"
                    />
                </div>
                <!-- Image End -->

                <!-- Tags Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div
                        class="section-title section-title-sm position-relative pb-3 mb-4"
                    >
                        <h3 class="mb-0">Tag Cloud</h3>
                    </div>
                    <div class="d-flex flex-wrap m-n1">
                        <a href="" class="btn btn-light m-1">Design</a>
                        <a href="" class="btn btn-light m-1">Development</a>
                        <a href="" class="btn btn-light m-1">Marketing</a>
                        <a href="" class="btn btn-light m-1">SEO</a>
                        <a href="" class="btn btn-light m-1">Writing</a>
                        <a href="" class="btn btn-light m-1">Consulting</a>
                        <a href="" class="btn btn-light m-1">Design</a>
                        <a href="" class="btn btn-light m-1">Development</a>
                        <a href="" class="btn btn-light m-1">Marketing</a>
                        <a href="" class="btn btn-light m-1">SEO</a>
                        <a href="" class="btn btn-light m-1">Writing</a>
                        <a href="" class="btn btn-light m-1">Consulting</a>
                    </div>
                </div>
                <!-- Tags End -->
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
</div>
<!-- Blog End -->

{% endblock content %}
