{% extends 'main/base.html' %} {% load static %}


{% block navelement %}
	 <div
        class="container-fluid bg-primary py-5 bg-header"
        style="margin-bottom: 90px"
    >
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">
                    {{ blog.subTitle }}
                </h1>
                <a href="" class="h5 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h5 text-white">Blog Detail</a>
            </div>
        </div>
    </div>
{% endblock navelement %}

{% block content %}



<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <img
                        class="img-fluid w-100 rounded mb-5"
                        src="{{ blog.image.url }}"
                        alt=""
                    />
                    <h1 class="mb-4">{{ blog.subTitle }}</h1>
                    <p>{{ blog.content | safe }}</p>
                </div>
                <!-- Blog Detail End -->
            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Search Form Start -->

                <!-- Recent Post Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div
                        class="section-title section-title-sm position-relative pb-3 mb-4"
                    >
                        <h3 class="mb-0">Recent Post</h3>
                    </div>
                    {% for blog in blogs %} {% if forloop.counter < 5 %}
                    <div class="d-flex rounded overflow-hidden mb-3">
                        <img
                            class="img-fluid"
                            src="{{ blog.image.url }}"
                            style="
                                width: 100px;
                                height: 100px;
                                object-fit: cover;
                            "
                            alt=""
                        />
                        <a
                            href=""
                            class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0"
                            >{{ blog.subTitle }}
                        </a>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <!-- Recent Post End -->

                <!-- Image Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <img
                        src="img/blog-1.jpg"
                        alt=""
                        class="img-fluid rounded"
                    />
                </div>
                <!-- Image End -->
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
</div>
<!-- Blog End -->

{% endblock content %}
