{% extends 'main/base.html' %} {% load static %} {% block content %}

<!-- Navbar & Carousel Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <a href="{% url 'index' %}" class="navbar-brand p-0">
            <h1 class="m-0">
                <span class="logo"
                    ><img
                        src="{% static 'img/logo2.svg' %}"
                        alt=""
                        width="50px"
                        style="color: #fff !important" /></span
                ><span class="name">Kelstech Systems</span>
            </h1>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
        >
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'index' %}" class="nav-item nav-link active"
                    >Home</a
                >
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'service' %}" class="nav-item nav-link"
                    >Services</a
                >
                <a href="{% url 'blog' %}" class="nav-item nav-link">Blog</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link"
                    >Contact</a
                >
            </div>
            <a
                href="#"
                class="btn btn-primary py-2 px-4 ms-3"
                data-bs-toggle="modal"
                data-bs-target="#searchModal"
                >Book Appointment</a
            >
        </div>
    </nav>

    <div
        id="header-carousel"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
    >
        <div class="carousel-inner">
            {% for carousel in carousels %}
            <div class="carousel-item active">
                <img class="w-100" src="{{ carousel.image.url }}" alt="Image" />
                <div
                    class="carousel-caption d-flex flex-column align-items-center justify-content-center"
                >
                    <div class="p-3" style="max-width: 900px">
                        <h5
                            class="text-white text-uppercase mb-3 animated slideInDown"
                        >
                            {{ carousel.title }}
                        </h5>
                        <h1
                            class="display-1 text-white mb-md-4 animated zoomIn"
                        >
                            {{ carousel.description }}
                        </h1>
                        <a
                            href="quote.html"
                            class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                            >Free Quote</a
                        >
                        <a
                            href=""
                            class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight"
                            >Contact Us</a
                        >
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#header-carousel"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#header-carousel"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Navbar & Carousel End -->

<!-- Facts Start -->
<div class="container-fluid facts py-5 pt-lg-0">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div
                    class="bg-primary shadow d-flex align-items-center justify-content-center p-4"
                    style="height: 150px"
                >
                    <div
                        class="bg-white d-flex align-items-center justify-content-center rounded mb-2"
                        style="width: 60px; height: 60px"
                    >
                        <i class="fa fa-users text-primary"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0">Happy Clients</h5>
                        <h1 class="text-white mb-0" data-toggle="counter-up">
                            12345
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                <div
                    class="bg-light shadow d-flex align-items-center justify-content-center p-4"
                    style="height: 150px"
                >
                    <div
                        class="bg-primary d-flex align-items-center justify-content-center rounded mb-2"
                        style="width: 60px; height: 60px"
                    >
                        <i class="fa fa-check text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-primary mb-0">Projects Done</h5>
                        <h1 class="mb-0" data-toggle="counter-up">12345</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div
                    class="bg-primary shadow d-flex align-items-center justify-content-center p-4"
                    style="height: 150px"
                >
                    <div
                        class="bg-white d-flex align-items-center justify-content-center rounded mb-2"
                        style="width: 60px; height: 60px"
                    >
                        <i class="fa fa-award text-primary"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0">Win Awards</h5>
                        <h1 class="text-white mb-0" data-toggle="counter-up">
                            12345
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts Start -->

<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">
                        About Us
                    </h5>
                    <h1 class="mb-0">{{ about.title }}</h1>
                </div>
                <p class="mb-4">{{ about.description }}</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"></i>Award
                            Winning
                        </h5>
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"></i
                            >Professional Staff
                        </h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"></i>24/7
                            Support
                        </h5>
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"></i>Fair
                            Prices
                        </h5>
                    </div>
                </div>
                <div
                    class="d-flex align-items-center mb-4 wow fadeIn"
                    data-wow-delay="0.6s"
                >
                    <div
                        class="bg-primary d-flex align-items-center justify-content-center rounded"
                        style="width: 60px; height: 60px"
                    >
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0">{{ contact.phone }}</h4>
                    </div>
                </div>
                <a
                    href="quote.html"
                    class="btn btn-primary py-3 px-5 mt-3 wow zoomIn"
                    data-wow-delay="0.9s"
                    data-bs-toggle="modal"
                    data-bs-target="#searchModal"
                    >Book Appointment</a
                >
            </div>
            <div class="col-lg-5" style="min-height: 500px">
                <div class="position-relative h-100">
                    <img
                        class="position-absolute w-100 h-100 rounded wow zoomIn"
                        data-wow-delay="0.9s"
                        src="{{ about.image.url }}"
                        style="object-fit: cover"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div
            class="section-title text-center position-relative pb-3 mb-5 mx-auto"
            style="max-width: 600px"
        >
            <h5 class="fw-bold text-primary text-uppercase">Why Choose Us</h5>
            <h1 class="mb-0">
                We Are Here to Grow Your Business Exponentially
            </h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    {% for why in chooses %} {% if forloop.counter < 3 %}
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div
                            class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px"
                        >
                            <i class="fa fa-cubes text-white"></i>
                        </div>
                        <h4>{{ why.title }}</h4>
                        <p class="mb-0">{{ why.description }}</p>
                    </div>
                    {% endif %} {% endfor %}
                </div>
            </div>
            <div
                class="col-lg-4 wow zoomIn"
                data-wow-delay="0.9s"
                style="min-height: 350px"
            >
                <div class="position-relative h-100">
                    <img
                        class="position-absolute w-100 h-100 rounded wow zoomIn"
                        data-wow-delay="0.1s"
                        src="{% static 'img/feature.jpg' %}"
                        style="object-fit: cover"
                    />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    {% for why in chooses %} {% if forloop.counter > 2 %}
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div
                            class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px"
                        >
                            <i class="fa fa-cubes text-white"></i>
                        </div>
                        <h4>{{ why.title }}</h4>
                        <p class="mb-0">{{ why.description }}</p>
                    </div>
                    {% endif %} {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Start -->

<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div
            class="section-title text-center position-relative pb-3 mb-5 mx-auto"
            style="max-width: 600px"
        >
            <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
            <h1 class="mb-0">
                Custom IT Solutions for Your Successful Business
            </h1>
        </div>
        <div class="row g-5">
            {% for service in services %}
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
                >
                    <div class="service-icon">
                        <i class="fa fa-shield-alt text-white"></i>
                    </div>
                    <h4 class="mb-3">{{ service.title }}</h4>
                    <p class="m-0">{{ service.description }}</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Quote Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">
                        Request A Service
                    </h5>
                    <h1 class="mb-0">
                        Need A Service? Please Feel Free to Contact Us
                    </h1>
                </div>
                <div class="row gx-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-4">
                            <i class="fa fa-reply text-primary me-3"></i>Reply
                            within 24 hours
                        </h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-4">
                            <i class="fa fa-phone-alt text-primary me-3"></i>24
                            hrs telephone support
                        </h5>
                    </div>
                </div>
                <p class="mb-4">
                    Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing
                    kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo
                    ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea
                    et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr
                    ut dolores magna sit. Sea dolore sanctus sed et. Takimata
                    takimata sanctus sed.
                </p>
                <div
                    class="d-flex align-items-center mt-2 wow zoomIn"
                    data-wow-delay="0.6s"
                >
                    <div
                        class="bg-primary d-flex align-items-center justify-content-center rounded"
                        style="width: 60px; height: 60px"
                    >
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0">{{ contact.phone }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div
                    class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn"
                    data-wow-delay="0.9s"
                >
                    <form>
                        <div class="row g-3">
                            <div class="col-xl-12">
                                <input
                                    type="text"
                                    class="form-control bg-light border-0"
                                    placeholder="Your Name"
                                    style="height: 55px"
                                />
                            </div>
                            <div class="col-12">
                                <input
                                    type="email"
                                    class="form-control bg-light border-0"
                                    placeholder="Your Email"
                                    style="height: 55px"
                                />
                            </div>
                            <div class="col-12">
                                <input
                                    type="tel"
                                    class="form-control bg-light border-0"
                                    placeholder="Your Contact"
                                    style="height: 55px"
                                />
                            </div>
                            <div class="col-12">
                                <select
                                    class="form-select bg-light border-0"
                                    style="height: 55px"
                                >
                                    <option selected>Select A Service</option>
                                    {% for service in services %}
                                    <option value="{{ service }}">
                                        {{ service.title }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12">
                                <textarea
                                    class="form-control bg-light border-0"
                                    rows="3"
                                    placeholder="Message"
                                ></textarea>
                            </div>
                            <div class="col-12">
                                <button
                                    class="btn btn-dark w-100 py-3"
                                    type="submit"
                                >
                                    Request A Service
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->

<!-- Testimonial Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div
            class="section-title text-center position-relative pb-3 mb-4 mx-auto"
            style="max-width: 600px"
        >
            <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
            <h1 class="mb-0">What Our Clients Say About Our Services</h1>
        </div>
        <div
            class="owl-carousel testimonial-carousel wow fadeInUp"
            data-wow-delay="0.6s"
        >
            {% for testimonail in testimonails %}
            <div class="testimonial-item bg-light my-4">
                <div
                    class="d-flex align-items-center border-bottom pt-5 pb-4 px-5"
                >
                    <i class="fas fa-user-alt"></i>
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">
                            {{ testimonail.clientName }}
                        </h4>
                        <small class="text-uppercase"
                            >{{ testimonail.clientProfession }}</small
                        >
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">{{ testimonail.message }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Testimonial End -->

<!-- Team Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div
            class="section-title text-center position-relative pb-3 mb-5 mx-auto"
            style="max-width: 600px"
        >
            <h5 class="fw-bold text-primary text-uppercase">Team Members</h5>
            <h1 class="mb-0">
                Professional Stuffs Ready to Help Your Business
            </h1>
        </div>
        <div class="row g-5">
            {% for team in teams %}
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img
                            class="img-fluid w-100"
                            src="{{ team.image.url }}"
                            alt=""
                        />
                        <div class="team-social">
                            <a
                                class="btn btn-lg btn-primary btn-lg-square rounded"
                                href=""
                                ><i class="fab fa-twitter fw-normal"></i
                            ></a>
                            <a
                                class="btn btn-lg btn-primary btn-lg-square rounded"
                                href=""
                                ><i class="fab fa-facebook-f fw-normal"></i
                            ></a>
                            <a
                                class="btn btn-lg btn-primary btn-lg-square rounded"
                                href=""
                                ><i class="fab fa-instagram fw-normal"></i
                            ></a>
                            <a
                                class="btn btn-lg btn-primary btn-lg-square rounded"
                                href=""
                                ><i class="fab fa-linkedin-in fw-normal"></i
                            ></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h4 class="text-primary">{{ team.name }}</h4>
                        <p class="text-uppercase m-0">{{ team.role }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div
            class="section-title text-center position-relative pb-3 mb-5 mx-auto"
            style="max-width: 600px"
        >
            <h5 class="fw-bold text-primary text-uppercase">Latest Blog</h5>
            <h1 class="mb-0">Read The Latest Articles from Our Blog Post</h1>
        </div>

        <div class="row g-5">
            {% for blog in blogs %}
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img
                            class="img-fluid"
                            src="{{ blog.image.url }}"
                            alt=""
                        />
                        <a
                            class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                            href=""
                            >{{ blog.title.title }}</a
                        >
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"
                                ><i class="far fa-user text-primary me-2"></i>{{
                                blog.author.username | capfirst }}
                            </small>
                            <small
                                ><i
                                    class="far fa-calendar-alt text-primary me-2"
                                ></i
                                >{{ blog.timestamp | timesince }} ago</small
                            >
                        </div>
                        <h4 class="mb-3">{{ blog.subTitle }}</h4>
                        <p>{{ blog.content | slice:"0:100" }}</p>
                        <a
                            class="text-uppercase"
                            href="{% url 'details' blog.pk %}"
                            >Read More <i class="bi bi-arrow-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blog Start -->

{% endblock content %}
